/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.teams-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0f172a;
}

.heading {
  color: white;
  font-size: 32px;
  font-family: roboto;
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

.logo {
  height: 150px;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .logo {
    height: 300px;
    width: 300px;
  }
}
